<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="theme.css">
      <script src = "MainScreen.js" type="application/javascript"> </script>
  </head>
  <body>
    <h1 id = "variable"> Room Status </h1>
    <button syle = "color:purple;" class: "inline" onclick = "MakeMarSaysSave();">Refresh</button>
    <!-- <a href="/camera"><button>Scan</a> -->
    <button><a href="/camera">Scan</a></button>
    <!-- <button onclick = "Scanner();">Camera</button> -->
    <ul id="listOfItems"></ul>
  </body>
</html>



    <!-- <script src = "instascan.min.js" type="application/javascript"> </script> -->
<!-- <a href="#"><button>Text</button></a> -->
<!-- <button><a href="#">Button Text</a></button> -->
