<!DOCTYPE html>
<html>
  <head>
      <script src = "MainScreen.js" type="application/javascript"> </script>
  </head>
  <body>
    <p id = "variable"> Room Status </p>
    <button onclick = "MakeMarSaysSave()";"setTimeout(Timer, 3000)";>Refresh</button>
    <button><a href="/camera">Scan</a></button>
    <!-- <button onclick = "Scanner();">Camera</button> -->
    <ul id="listOfItems"></ul>
  </body>
</html>



    <!-- <script src = "instascan.min.js" type="application/javascript"> </script> -->
